<div class="dialog-mask" [ngClass]="{ visible: isModalVisible }">
  <div class="dialog">
    <header class="dialog__header">
      <caption class="dialog__title">
        Добавление смены
      </caption>
      <button type="button" class="btn btn--icon" (click)="hide()">
        <img src="/assets/img/clear.svg" alt="Закрыть модальное окно" />
      </button>
    </header>
    <div class="dialog__content">
      <form action="" class="form" [formGroup]="form">
        <div class="form__fields">
          <label class="form__header mt-md mb-sm">Тип крана</label>
          <select
            name="crane"
            class="form__select"
            (change)="onChangeCrane()"
            formControlName="craneType"
          >
            <option [value]="craneType.single">Одинарный</option>
            <option [value]="craneType.double">Двойной</option>
          </select>

          <div
            class="form__validation"
            *ngIf="
              form.get('craneType')?.invalid && form.get('craneType')?.touched
            "
          ></div>

          <label class="form__header mt-md mb-sm">ФИО ответственного</label
          ><input
            formControlName="responsible"
            class="form__field-input"
            type="text"
          />
          <div
            class="form__validation"
            *ngIf="
              form.get('responsible')?.invalid &&
              form.get('responsible')?.touched
            "
          >
            <small *ngIf="form.get('responsible')?.errors?.required"
              >Поле "ФИО ответственного" не может быть пустым</small
            >
          </div>
        </div>
        <fieldset class="form__dates">
          <div>
            <label class="form__header mt-md mb-sm" for="">Дата начала</label>
            <input
              formControlName="start"
              class="form__field-input"
              type="datetime-local"
            />
            <div
              class="form__validation"
              *ngIf="form.get('start')?.invalid && form.get('start')?.touched"
            >
              <small *ngIf="form.get('start')?.errors?.required"
                >Дата обязательна к заполнению</small
              >
            </div>
          </div>
          <div>
            <label class="form__header mt-md mb-sm" for=""
              >Дата окончания</label
            >
            <input
              formControlName="end"
              class="form__field-input"
              type="datetime-local"
            />
            <div
              class="form__validation"
              *ngIf="form.get('end')?.invalid && form.get('end')?.touched"
            >
              <small *ngIf="form.get('end')?.errors?.required"
                >Дата обязательна к заполнению</small
              >
            </div>
          </div>
        </fieldset>
        <div formArrayName="cranes">
          <fieldset
            class="form__info"
            *ngFor="let crane of cranesControls; let craneIdx = index"
            [formGroupName]="craneIdx"
          >
            <legend>Кран {{ isSingleCrane ? "" : craneIdx + 1 }}</legend>
            <div formArrayName="trucks">
              <div
                class="form__materials"
                *ngFor="
                  let truck of getTrucksForCrane(craneIdx);
                  let truckIdx = index
                "
                [formGroupName]="truckIdx"
              >
                <div class="mr-md">
                  <label class="form__header mt-md mb-sm">Грузовик</label>
                  <select
                    class="form__select"
                    formControlName="truck"
                    (change)="onChangeTruck(craneIdx)"
                  >
                    <option value="truck1">Грузовик №1</option>
                    <option value="truck2">Грузовик №2</option>
                  </select>
                </div>
                <div class="form__material mr-md">
                  <label for="" class="form__header mt-md mb-sm"
                    >Погружено, т</label
                  >
                  <input
                    min="0"
                    formControlName="loaded"
                    class="form__field-input field-number"
                    type="number"
                  />
                </div>
                <div class="form__material mr-md">
                  <label for="" class="form__header mt-md mb-sm"
                    >Отгружено, т</label
                  >
                  <input
                    min="0"
                    formControlName="shipped"
                    class="form__field-input field-number"
                    type="number"
                  />
                </div>
                <button
                  type="button"
                  class="btn mt-xl remove"
                  [ngStyle]="{
                    visibility: isTruckHasValue(truck) ? 'visible' : 'hidden'
                  }"
                  (click)="removeTruck(craneIdx, truckIdx)"
                >
                  <img src="/assets/img/delete.svg" alt="Удалить" />
                </button>

                <button
                  type="button"
                  class="btn mt-sm btn--danger"
                  [ngStyle]="{
                    visibility: isTruckHasValue(truck) ? 'visible' : 'hidden'
                  }"
                  (click)="removeTruck(craneIdx, truckIdx)"
                >
                  Удалить
                </button>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
    <footer class="dialog__footer">
      <div class="dialog__total">
        <div class="mb-sm">
          <span class="mr-sm">Всего погружено</span>
          <span>{{ loaded }} т</span>
        </div>
        <div>
          <span class="mr-sm">Всего отгружено</span>
          <span>{{ shipped }} т</span>
        </div>
      </div>
      <div class="dialog__btns">
        <button type="button" class="btn btn--secondary mr-sm" (click)="hide()">
          Закрыть
        </button>
        <button
          type="submit"
          class="btn btn--primary"
          (click)="submit()"
          [disabled]="form.invalid"
        >
          Сохранить
        </button>
      </div>
    </footer>
  </div>
</div>
