<div class="dialog-mask" [ngClass]="{ visible: isModalVisible }">
  <div class="dialog">
    <header class="dialog__header">
      <caption class="dialog__title">
        Добавление смены
      </caption>
      <button class="btn btn--icon" (click)="hide()">
        <img src="/assets/img/clear.svg" alt="Закрыть модальное окно" />
      </button>
    </header>
    <div class="dialog__content">
      <form action="" class="form">
        <div class="form__fields">
          <label class="form__header mt-md mb-sm">Тип крана</label>
          <select name="" id="" class="form__select">
            <option value="" selected>Выберите тип крана</option>
            <option value="">Двойной</option>
            <option value="">Одинарный</option>
          </select>
          <label class="form__header mt-md mb-sm">ФИО ответственного</label
          ><input class="form__field-input" type="text" />
        </div>
        <fieldset class="form__dates">
          <div>
            <label class="form__header mt-md mb-sm" for="">Дата начала</label>
            <input class="form__field-input" type="date" />
          </div>
          <div>
            <label class="form__header mt-md mb-sm" for=""
              >Дата окончания</label
            >
            <input class="form__field-input" type="date" />
          </div>
        </fieldset>
        <fieldset class="form__info">
          <legend>Первый кран</legend>
          <div class="mr-md">
            <label class="form__header mt-md mb-sm">Грузовик</label>
            <select name="" id="" class="form__select">
              <option value="" selected>Выберите машину</option>
              <option value="">Грузовик №1</option>
              <option value="">Грузовик №2</option>
            </select>
          </div>
          <div class="form__materials">
            <div class="form__material mr-md">
              <label for="" class="form__header mt-md mb-sm"
                >Погружено, т</label
              >
              <input class="form__field-input field-number" type="number" />
            </div>
            <div class="form__material mr-md">
              <label for="" class="form__header mt-md mb-sm"
                >Отгружено, т</label
              >
              <input class="form__field-input field-number" type="number" />
            </div>
            <button class="btn mt-xl">
              <img src="/assets/img/delete.svg" alt="Удалить" />
            </button>
          </div>
        </fieldset>
      </form>
    </div>
    <footer class="dialog__footer">
      <div class="dialog__total">
        <div class="mb-sm">
          <span class="mr-sm">Всего погружено</span>
          <span>10т</span>
        </div>
        <div>
          <span class="mr-sm">Всего отгружено</span>
          <span>5 т</span>
        </div>
      </div>
      <div class="dialog__btns">
        <button class="btn btn--secondary mr-sm" (click)="hide()">
          Закрыть
        </button>
        <button class="btn btn--primary">Сохранить</button>
      </div>
    </footer>
  </div>
</div>
