.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;

  @media (max-width: 1200px) {
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.table {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: normal;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 900px;

  &__table-name-wrap {
    display: flex;
  }

  &__table-name {
    color: #343a40;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__btns {
    display: flex;
  }

  &__btn-add {
    position: absolute;
    right: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 38px;
    border-radius: 50px;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  &__data-table {
    border-collapse: collapse;
    min-width: 100%;
  }

  &__table-row {
    box-sizing: border-box;
  }

  &__table-header {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #343a40;
    transition: box-shadow 0.2s;
  }

  &__table-cell {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 0.5rem;
    color: #495057;
  }
}
