<div class="table">
  <caption class="table__table-name">
    Список смен
  </caption>
  <table class="table__data-table">
    <thead>
      <tr class="table__table-row">
        <th class="table__table-header">ФИО</th>
        <th class="table__table-header">Начало</th>
        <th class="table__table-header">Окончание</th>
        <th class="table__table-header">Тип крана</th>
        <th class="table__table-header">Погружено тонн</th>
        <th class="table__table-header">Отгружено тонн</th>
        <th class="table__table-header"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table__table-row" *ngFor="let shift of getData() | async">
        <td class="table__table-cell">{{ shift.responsible }}</td>
        <td class="table__table-cell">{{ shift.start }}</td>
        <td class="table__table-cell">{{ shift.end }}</td>
        <td class="table__table-cell">{{ shift.craneType }}</td>
        <td class="table__table-cell">{{ shift.loaded }}</td>
        <td class="table__table-cell">{{ shift.shipped }}</td>
        <td class="table__table-cell">
          <div class="table__btns">
            <button class="btn btn--icon mr-sm" (click)="modal.show()">
              <img src="/assets/img/editor.svg" alt="Редактировать" />
            </button>
            <button class="btn btn--icon">
              <img src="/assets/img/delete.svg" alt="Удалить" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-working-shift-modal #modal></app-working-shift-modal>
